### Churn Modelling

- In this model, we have to predict if a bank customer will take an exit in the future or not.

In [2]:
# Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# import dataset

dataset = pd.read_csv("C:/Users/Ashish/Desktop/Deep Learning/CSV files/Churn_Modelling.txt", sep = ",")

In [6]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
dataset.shape

(10000, 14)

- There are  10,000 rows and 13 columns in this dataset
- The first three columns do not provide any data and can be removed
- The last column/feature [Exited] is our dependent feature
- Remaining 9 columns/features are our independent features

In [8]:
# Creating dependent and independent feature dataset

X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [9]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [10]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

- Geography and Gender are categorical features. Hence we have to convert them to numerical features

In [11]:
# Create dummy variables
geography = pd.get_dummies(X["Geography"], drop_first = True)
gender = pd.get_dummies(X["Gender"], drop_first = True)

In [12]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [13]:
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [14]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [16]:
# Concatenate dummy variables to the dataframe

X = pd.concat([X, geography, gender], axis = 1)

In [17]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

- Now, We do not need Geography and Gender categorical columns. Hence we drop them

In [19]:
## Drop Unwanted categorical columns

X = X.drop(["Geography", "Gender"], axis = 1)

In [20]:
# Splitting the data into training and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

#### Need of Feature Scaling for Deep learning

1. Yes, we require feature scaling in Deep learning. 
2. The reason we need to scale the input is, in the hidden layer, the features get multiplied by the weights.
3. If the features are of different magnitudes, the time taken for multiplication will be very high.
4. Also, during back propagation, the time taken to find the derivative also increases. Hence the weights take more time to converge to global minima
5. Hence we should scale all the features to the same scale range.

In [22]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [24]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

### Lets Start Making ANN!

- Every neural network that you create, whether it is ANN, CNN or RNN, we have to import Sequential
- Sequential library is responsible for creating these neural networks
- To create hidden layer we have to import Dense library
- Import activation functions
- Import Dropout layer

In [25]:
# Importing Keras Libraries and Packages

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import LeakyReLU, PReLU, ELU

In [26]:
# Initializing The ANN

classifier = Sequential() # This is an empty neural network

In [28]:
# Adding the input layer and first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = "he_uniform", activation = "relu", input_dim = 11))

- units = number of neurons in the first hidden layer
- input_dim = number of input features
- kernel_initialization = weight initialization

In [29]:
# Adding the second hidden layer

classifier.add(Dense(units = 6, kernel_initializer = "he_uniform", activation = "relu"))

In [30]:
# Adding the output layer

classifier.add(Dense(units = 1, kernel_initializer = "glorot_uniform", activation = "sigmoid"))

- Since we have a binary output ie 0 or 1, thereform no. of neurons used in output layer is 1

In [32]:
# Compiling the ANN
classifier.compile(optimizer="Adamax", loss = "binary_crossentropy", metrics = ["accuracy"])

In [34]:
# Fitting the ANN to Training Set

model_history = classifier.fit(X_train, y_train, validation_split= 0.33, batch_size= 10, nb_epoch = 100)

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
 400/5359 [=>............................] - ETA: 1s - loss: 0.4101 - accuracy: 0.8200

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  This is separate from the ipykernel package so we can avoid doing imports until

5359/5359 [==============================] - 3s 533us/step - loss: 0.3914 - accuracy: 0.8337 - val_loss: 0.4099 - val_accuracy: 0.8220
Epoch 2/100
5359/5359 [==============================] - 2s 435us/step - loss: 0.3893 - accuracy: 0.8339 - val_loss: 0.4080 - val_accuracy: 0.8232
Epoch 3/100
5359/5359 [==============================] - 3s 505us/step - loss: 0.3877 - accuracy: 0.8337 - val_loss: 0.4068 - val_accuracy: 0.8228
Epoch 4/100
5359/5359 [==============================] - 3s 477us/step - loss: 0.3860 - accuracy: 0.8356 - val_loss: 0.4059 - val_accuracy: 0.8228
Epoch 5/100
5359/5359 [==============================] - 3s 493us/step - loss: 0.3848 - accuracy: 0.8388 - val_loss: 0.4046 - val_accuracy: 0.8236
Epoch 6/100
5359/5359 [==============================] - 3s 500us/step - loss: 0.3832 - accuracy: 0.8384 - val_loss: 0.4040 - val_accuracy: 0.8239
Epoch 7/100
5359/5359 [==============================] - 3s 537us/step - loss: 0.3821 - accuracy: 0.8405 - val_loss: 0.4023 - val_accuracy: 0.8270
Epoch 8/100
5359/5359 [==============================] - 2s 397us/step - loss: 0.3809 - accuracy: 0.8371 - val_loss: 0.4018 - val_accuracy: 0.8266
Epoch 9/100
5359/5359 [==============================] - 3s 485us/step - loss: 0.3797 - accuracy: 0.8356 - val_loss: 0.3996 - val_accuracy: 0.8304
Epoch 10/100
5359/5359 [==============================] - 3s 477us/step - loss: 0.3790 - accuracy: 0.8388 - val_loss: 0.4003 - val_accuracy: 0.8289
Epoch 11/100
5359/5359 [==============================] - 3s 496us/step - loss: 0.3780 - accuracy: 0.8403 - val_loss: 0.3989 - val_accuracy: 0.8273
Epoch 12/100
5359/5359 [==============================] - 3s 485us/step - loss: 0.3770 - accuracy: 0.8410 - val_loss: 0.3976 - val_accuracy: 0.8273
Epoch 13/100
5359/5359 [==============================] - 3s 558us/step - loss: 0.3761 - accuracy: 0.8388 - val_loss: 0.3977 - val_accuracy: 0.8307
Epoch 14/100
5359/5359 [==============================] - 2s 439us/step - loss: 0.3756 - accuracy: 0.8410 - val_loss: 0.3962 - val_accuracy: 0.8266
Epoch 15/100
5359/5359 [==============================] - 2s 347us/step - loss: 0.3747 - accuracy: 0.8380 - val_loss: 0.3943 - val_accuracy: 0.8300
Epoch 16/100
5359/5359 [==============================] - 3s 486us/step - loss: 0.3737 - accuracy: 0.8410 - val_loss: 0.3939 - val_accuracy: 0.8281
Epoch 17/100
5359/5359 [==============================] - 3s 495us/step - loss: 0.3733 - accuracy: 0.8416 - val_loss: 0.3935 - val_accuracy: 0.8292
Epoch 18/100
5359/5359 [==============================] - 3s 495us/step - loss: 0.3725 - accuracy: 0.8408 - val_loss: 0.3924 - val_accuracy: 0.8292
Epoch 19/100
5359/5359 [==============================] - 3s 530us/step - loss: 0.3711 - accuracy: 0.8421 - val_loss: 0.3930 - val_accuracy: 0.8307
Epoch 20/100
5359/5359 [==============================] - 3s 470us/step - loss: 0.3711 - accuracy: 0.8418 - val_loss: 0.3913 - val_accuracy: 0.8296
Epoch 21/100
5359/5359 [==============================] - 2s 338us/step - loss: 0.3702 - accuracy: 0.8427 - val_loss: 0.3917 - val_accuracy: 0.8307
Epoch 22/100
5359/5359 [==============================] - 2s 334us/step - loss: 0.3697 - accuracy: 0.8423 - val_loss: 0.3914 - val_accuracy: 0.8319
Epoch 23/100
5359/5359 [==============================] - 3s 512us/step - loss: 0.3689 - accuracy: 0.8419 - val_loss: 0.3914 - val_accuracy: 0.8349
Epoch 24/100
5359/5359 [==============================] - 3s 544us/step - loss: 0.3689 - accuracy: 0.8419 - val_loss: 0.3906 - val_accuracy: 0.8345
Epoch 25/100
5359/5359 [==============================] - 3s 494us/step - loss: 0.3681 - accuracy: 0.8408 - val_loss: 0.3895 - val_accuracy: 0.8360
Epoch 26/100
5359/5359 [==============================] - 3s 533us/step - loss: 0.3672 - accuracy: 0.8427 - val_loss: 0.3898 - val_accuracy: 0.8353
Epoch 27/100
5359/5359 [==============================] - 2s 398us/step - loss: 0.3662 - accuracy: 0.8453 - val_loss: 0.3888 - val_accuracy: 0.8368
Epoch 28/100
5359/5359 [==============================] - 3s 493us/step - loss: 0.3659 - accuracy: 0.8429 - val_loss: 0.3880 - val_accuracy: 0.8383
Epoch 29/100
5359/5359 [==============================] - 3s 502us/step - loss: 0.3651 - accuracy: 0.8434 - val_loss: 0.3881 - val_accuracy: 0.8357
Epoch 30/100
5359/5359 [==============================] - 3s 515us/step - loss: 0.3639 - accuracy: 0.8447 - val_loss: 0.3889 - val_accuracy: 0.8330
Epoch 31/100
5359/5359 [==============================] - 2s 466us/step - loss: 0.3628 - accuracy: 0.8474 - val_loss: 0.3879 - val_accuracy: 0.8326
Epoch 32/100
5359/5359 [==============================] - 2s 373us/step - loss: 0.3621 - accuracy: 0.8455 - val_loss: 0.3854 - val_accuracy: 0.8372
Epoch 33/100
5359/5359 [==============================] - 2s 318us/step - loss: 0.3611 - accuracy: 0.8481 - val_loss: 0.3838 - val_accuracy: 0.8368
Epoch 34/100
5359/5359 [==============================] - 2s 294us/step - loss: 0.3603 - accuracy: 0.8462 - val_loss: 0.3842 - val_accuracy: 0.8376
Epoch 35/100
5359/5359 [==============================] - 2s 466us/step - loss: 0.3598 - accuracy: 0.8455 - val_loss: 0.3819 - val_accuracy: 0.8402
Epoch 36/100
5359/5359 [==============================] - 3s 541us/step - loss: 0.3584 - accuracy: 0.8494 - val_loss: 0.3816 - val_accuracy: 0.8402
Epoch 37/100
5359/5359 [==============================] - 3s 559us/step - loss: 0.3578 - accuracy: 0.8494 - val_loss: 0.3811 - val_accuracy: 0.8402
Epoch 38/100
5359/5359 [==============================] - 3s 513us/step - loss: 0.3569 - accuracy: 0.8490 - val_loss: 0.3809 - val_accuracy: 0.8406
Epoch 39/100
5359/5359 [==============================] - 3s 534us/step - loss: 0.3566 - accuracy: 0.8481 - val_loss: 0.3792 - val_accuracy: 0.8417
Epoch 40/100
5359/5359 [==============================] - 2s 385us/step - loss: 0.3556 - accuracy: 0.8492 - val_loss: 0.3795 - val_accuracy: 0.8417
Epoch 41/100
5359/5359 [==============================] - 3s 499us/step - loss: 0.3549 - accuracy: 0.8498 - val_loss: 0.3772 - val_accuracy: 0.8413
Epoch 42/100
5359/5359 [==============================] - 3s 492us/step - loss: 0.3543 - accuracy: 0.8498 - val_loss: 0.3762 - val_accuracy: 0.8413
Epoch 43/100
5359/5359 [==============================] - 3s 489us/step - loss: 0.3538 - accuracy: 0.8500 - val_loss: 0.3745 - val_accuracy: 0.8410
Epoch 44/100
5359/5359 [==============================] - 3s 491us/step - loss: 0.3526 - accuracy: 0.8503 - val_loss: 0.3745 - val_accuracy: 0.8440
Epoch 45/100
5359/5359 [==============================] - 3s 535us/step - loss: 0.3516 - accuracy: 0.8518 - val_loss: 0.3735 - val_accuracy: 0.8444
Epoch 46/100
5359/5359 [==============================] - 2s 442us/step - loss: 0.3505 - accuracy: 0.8522 - val_loss: 0.3732 - val_accuracy: 0.8436
Epoch 47/100
5359/5359 [==============================] - 2s 319us/step - loss: 0.3490 - accuracy: 0.8524 - val_loss: 0.3713 - val_accuracy: 0.8470
Epoch 48/100
5359/5359 [==============================] - 3s 518us/step - loss: 0.3475 - accuracy: 0.8546 - val_loss: 0.3697 - val_accuracy: 0.8474
Epoch 49/100
5359/5359 [==============================] - 3s 504us/step - loss: 0.3464 - accuracy: 0.8561 - val_loss: 0.3691 - val_accuracy: 0.8478
Epoch 50/100
5359/5359 [==============================] - 3s 498us/step - loss: 0.3452 - accuracy: 0.8558 - val_loss: 0.3682 - val_accuracy: 0.8474
Epoch 51/100
5359/5359 [==============================] - 3s 493us/step - loss: 0.3440 - accuracy: 0.8587 - val_loss: 0.3679 - val_accuracy: 0.8497
Epoch 52/100
5359/5359 [==============================] - 3s 510us/step - loss: 0.3427 - accuracy: 0.8589 - val_loss: 0.3676 - val_accuracy: 0.8501
Epoch 53/100
5359/5359 [==============================] - 2s 366us/step - loss: 0.3420 - accuracy: 0.8580 - val_loss: 0.3660 - val_accuracy: 0.8504
Epoch 54/100
5359/5359 [==============================] - 3s 502us/step - loss: 0.3410 - accuracy: 0.8599 - val_loss: 0.3654 - val_accuracy: 0.8493
Epoch 55/100
5359/5359 [==============================] - 3s 500us/step - loss: 0.3404 - accuracy: 0.8591 - val_loss: 0.3659 - val_accuracy: 0.8493
Epoch 56/100

5359/5359 [==============================] - 2s 460us/step - loss: 0.3396 - accuracy: 0.8587 - val_loss: 0.3645 - val_accuracy: 0.8504
Epoch 57/100
5359/5359 [==============================] - 3s 468us/step - loss: 0.3393 - accuracy: 0.8614 - val_loss: 0.3641 - val_accuracy: 0.8508
Epoch 58/100
5359/5359 [==============================] - 3s 505us/step - loss: 0.3386 - accuracy: 0.8602 - val_loss: 0.3643 - val_accuracy: 0.8501
Epoch 59/100
5359/5359 [==============================] - 2s 435us/step - loss: 0.3381 - accuracy: 0.8606 - val_loss: 0.3633 - val_accuracy: 0.8493
Epoch 60/100
5359/5359 [==============================] - 3s 496us/step - loss: 0.3379 - accuracy: 0.8614 - val_loss: 0.3630 - val_accuracy: 0.8493
Epoch 61/100
5359/5359 [==============================] - 3s 472us/step - loss: 0.3375 - accuracy: 0.8615 - val_loss: 0.3628 - val_accuracy: 0.8504
Epoch 62/100
5359/5359 [==============================] - 3s 483us/step - loss: 0.3374 - accuracy: 0.8614 - val_loss: 0.3621 - val_accuracy: 0.8527
Epoch 63/100
5359/5359 [==============================] - 3s 484us/step - loss: 0.3360 - accuracy: 0.8640 - val_loss: 0.3608 - val_accuracy: 0.8527
Epoch 64/100
5359/5359 [==============================] - 3s 525us/step - loss: 0.3359 - accuracy: 0.8625 - val_loss: 0.3605 - val_accuracy: 0.8535
Epoch 65/100
5359/5359 [==============================] - 2s 414us/step - loss: 0.3358 - accuracy: 0.8621 - val_loss: 0.3623 - val_accuracy: 0.8516
Epoch 66/100
5359/5359 [==============================] - 3s 508us/step - loss: 0.3350 - accuracy: 0.8606 - val_loss: 0.3591 - val_accuracy: 0.8508
Epoch 67/100
5359/5359 [==============================] - 3s 488us/step - loss: 0.3351 - accuracy: 0.8625 - val_loss: 0.3593 - val_accuracy: 0.8550
Epoch 68/100
5359/5359 [==============================] - 3s 486us/step - loss: 0.3343 - accuracy: 0.8651 - val_loss: 0.3581 - val_accuracy: 0.8538
Epoch 69/100
5359/5359 [==============================] - 3s 471us/step - loss: 0.3337 - accuracy: 0.8617 - val_loss: 0.3616 - val_accuracy: 0.8561
Epoch 70/100
5359/5359 [==============================] - 3s 517us/step - loss: 0.3339 - accuracy: 0.8623 - val_loss: 0.3593 - val_accuracy: 0.8557
Epoch 71/100
5359/5359 [==============================] - 2s 452us/step - loss: 0.3333 - accuracy: 0.8619 - val_loss: 0.3610 - val_accuracy: 0.8565
Epoch 72/100
5359/5359 [==============================] - 2s 338us/step - loss: 0.3326 - accuracy: 0.8612 - val_loss: 0.3580 - val_accuracy: 0.8538
Epoch 73/100
5359/5359 [==============================] - 3s 520us/step - loss: 0.3329 - accuracy: 0.8621 - val_loss: 0.3570 - val_accuracy: 0.8523
Epoch 74/100
5359/5359 [==============================] - 3s 494us/step - loss: 0.3328 - accuracy: 0.8621 - val_loss: 0.3578 - val_accuracy: 0.8569
Epoch 75/100
5359/5359 [==============================] - 3s 537us/step - loss: 0.3323 - accuracy: 0.8632 - val_loss: 0.3566 - val_accuracy: 0.8569
Epoch 76/100
5359/5359 [==============================] - 3s 532us/step - loss: 0.3323 - accuracy: 0.8623 - val_loss: 0.3557 - val_accuracy: 0.8550
Epoch 77/100
5359/5359 [==============================] - 3s 489us/step - loss: 0.3320 - accuracy: 0.8640 - val_loss: 0.3560 - val_accuracy: 0.8561
Epoch 78/100
5359/5359 [==============================] - 3s 503us/step - loss: 0.3319 - accuracy: 0.8656 - val_loss: 0.3551 - val_accuracy: 0.8550
Epoch 79/100
5359/5359 [==============================] - 3s 498us/step - loss: 0.3311 - accuracy: 0.8638 - val_loss: 0.3556 - val_accuracy: 0.8501
Epoch 80/100
5359/5359 [==============================] - 3s 505us/step - loss: 0.3307 - accuracy: 0.8647 - val_loss: 0.3579 - val_accuracy: 0.8501
Epoch 81/100
5359/5359 [==============================] - 3s 505us/step - loss: 0.3307 - accuracy: 0.8619 - val_loss: 0.3560 - val_accuracy: 0.8531
Epoch 82/100
5359/5359 [==============================] - 3s 539us/step - loss: 0.3308 - accuracy: 0.8640 - val_loss: 0.3553 - val_accuracy: 0.8565
Epoch 83/100
5359/5359 [==============================] - 2s 404us/step - loss: 0.3304 - accuracy: 0.8653 - val_loss: 0.3556 - val_accuracy: 0.8535
Epoch 84/100
5359/5359 [==============================] - 3s 502us/step - loss: 0.3300 - accuracy: 0.8640 - val_loss: 0.3573 - val_accuracy: 0.8565
Epoch 85/100
5359/5359 [==============================] - 3s 508us/step - loss: 0.3300 - accuracy: 0.8632 - val_loss: 0.3549 - val_accuracy: 0.8550
Epoch 86/100
5359/5359 [==============================] - 3s 494us/step - loss: 0.3302 - accuracy: 0.8647 - val_loss: 0.3549 - val_accuracy: 0.8569
Epoch 87/100
5359/5359 [==============================] - 3s 506us/step - loss: 0.3295 - accuracy: 0.8642 - val_loss: 0.3553 - val_accuracy: 0.8561
Epoch 88/100
5359/5359 [==============================] - 3s 532us/step - loss: 0.3291 - accuracy: 0.8638 - val_loss: 0.3540 - val_accuracy: 0.8554
Epoch 89/100
5359/5359 [==============================] - 3s 484us/step - loss: 0.3295 - accuracy: 0.8649 - val_loss: 0.3549 - val_accuracy: 0.8565
Epoch 90/100
5359/5359 [==============================] - 3s 506us/step - loss: 0.3286 - accuracy: 0.8642 - val_loss: 0.3551 - val_accuracy: 0.8531
Epoch 91/100
5359/5359 [==============================] - 3s 500us/step - loss: 0.3295 - accuracy: 0.8640 - val_loss: 0.3570 - val_accuracy: 0.8557
Epoch 92/100
5359/5359 [==============================] - 3s 497us/step - loss: 0.3294 - accuracy: 0.8636 - val_loss: 0.3537 - val_accuracy: 0.8554
Epoch 93/100
5359/5359 [==============================] - 3s 494us/step - loss: 0.3292 - accuracy: 0.8628 - val_loss: 0.3535 - val_accuracy: 0.8557
Epoch 94/100
5359/5359 [==============================] - 3s 545us/step - loss: 0.3286 - accuracy: 0.8647 - val_loss: 0.3535 - val_accuracy: 0.8599
Epoch 95/100
5359/5359 [==============================] - 3s 472us/step - loss: 0.3283 - accuracy: 0.8651 - val_loss: 0.3535 - val_accuracy: 0.8535
Epoch 96/100
5359/5359 [==============================] - 3s 523us/step - loss: 0.3291 - accuracy: 0.8649 - val_loss: 0.3537 - val_accuracy: 0.8565
Epoch 97/100
5359/5359 [==============================] - 3s 504us/step - loss: 0.3283 - accuracy: 0.8658 - val_loss: 0.3548 - val_accuracy: 0.8569
Epoch 98/100
5359/5359 [==============================] - 3s 524us/step - loss: 0.3286 - accuracy: 0.8662 - val_loss: 0.3534 - val_accuracy: 0.8576
Epoch 99/100
5359/5359 [==============================] - 3s 511us/step - loss: 0.3280 - accuracy: 0.8642 - val_loss: 0.3531 - val_accuracy: 0.8550
Epoch 100/100
5359/5359 [==============================] - 3s 547us/step - loss: 0.3276 - accuracy: 0.8684 - val_loss: 0.3537 - val_accuracy: 0.8546

In [36]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 7
=================================================================
Total params: 163
Trainable params: 163
Non-trainable params: 0
_________________________________________________________________

- Total Params means number or weights and bias

In [38]:
# Predicting the test set results

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [39]:
# making Confusion Matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [40]:
cm

array([[1536,   59],
       [ 219,  186]], dtype=int64)

In [41]:
# Calculate Test accuracy

from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred, y_test)

In [42]:
score

0.861